* {
    padding: 0px;
    margin: 0px;
}

body {
  font-family: "Playfair Display", serif;
  background-image: url("./image/mainBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

nav {
    background-color: rgba(0, 0, 0, 0.719);
    backdrop-filter: blur(10px);
    color: white;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
    position: sticky;
    top: 0;
    z-index: 2;
}

.nav-option {
    display: flex;
}

ul li {
    margin: 20px;
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

ul li a:hover {
    color: aqua;
}

.container {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.473);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.473);
}

.card {
    background-color: rgba(255, 255, 255, 0.103);
    backdrop-filter: blur(10px);
    color: white;
    padding: 40px;
    width: 700px;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.137);
}

.card h1 {
    font-size: 40px;
    padding: 20px;
}

.card p {
    font-size: 18px;
    line-height: 1.8rem;
}

@media (max-width: 780px) {
    .card {
        width: 300px;
    }
}

@media (max-width: 500px) {
    .card {
        width: 150px;
        padding: 45px;
    }
}


.offers-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card2 {
    width: 30%;
    padding: 1rem;
    margin: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.137);
    transition: 0.2s;
}

.card2:hover {
    transform: scale(1.02);
    border: 1px solid aqua;
}

.card2-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

footer {
    color: white;
    text-align: center;
    padding: 28px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.438);
}